@model ispProject.Models.BirthRecordFormModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Birth Record Certificate</title>
    <link rel="stylesheet" href="~/Content/formPDF.css">
</head>
<body>
    <div id="brPage1">
        <span class="textField" id="field-1">@Model.childPatient.firstName</span>
        <span class="textField" id="field-2">1738</span> <span class="textField" id="field-3">M</span>
        <span class="textField" id="field-4">05/10/2017</span> <span class="textField" id="field-5">Children's Hospital</span>
        <span class="textField" id="field-6">Milwaukee</span> <span class="textField" id="field-7">Milwaukee</span>
        <span class="textField" id="field-8a">Amanda Rose Haydon</span> <span class="textField" id="field-8b">03/12/1968</span>
        <span class="textField" id="field-8c">Amanda Rose Smith</span> <span class="textField" id="field-8d">Wisonsin</span>
        <span class="textField" id="field-9a">Wisconsin</span> <span class="textField" id="field-9b">Milwaukee</span>
        <span class="textField" id="field-9c">Milwaukee</span> <span class="textField" id="field-9d">3400 S. Washington St</span>
        <span class="textField" id="field-9e">6A</span> <span class="textField" id="field-9f">53126</span>
        <span class="textField" id="field-9g_1">x</span> <span class="textField" id="field-9g_2">x</span>
        <span class="textField" id="field-10a">Roy Jones Haydon</span> <span class="textField" id="field-10b">01/24/1965</span>
        <span class="textField" id="field-10c">Illinois</span> <span class="textField" id="field-11_1">Ashley Johnson</span>
        <span class="textField" id="field-11_2">x</span> <span class="textField" id="field-11_3">x</span>
        <span class="textField" id="field-11_4">x</span> <span class="textField" id="field-11_5">x</span>
        <span class="textField" id="field-11_6">x</span> <span class="textField" id="field-11_7">x</span>
        <span class="textField" id="field-11_8">Nurse</span> <span class="textField" id="field-12_1">05</span>
        <span class="textField" id="field-12_2">15</span> <span class="textField" id="field-12_3">2017</span>
        <span class="textField" id="field-13_1">05</span> <span class="textField" id="field-13_2">21</span>
        <span class="textField" id="field-13_3">2017</span> <span class="textField" id="field-14_1">x</span>
        <span class="textField" id="field-14_2">3400 S. Washington St</span> <span class="textField" id="field-14_3">Wisconsin</span>
        <span class="textField" id="field-14_4">Milwaukee</span> <span class="textField" id="field-14_5">6A</span>
        <span class="textField" id="field-14_6">53126</span> <span class="textField" id="field-15_1">x</span>
        <span class="textField" id="field-15_2">x</span> <span class="textField" id="field-15_3">x</span>
        <span class="textField" id="field-15_4">x</span> <span class="textField" id="field-16_1">x</span>
        <span class="textField" id="field-16_2">x</span> <span class="textField" id="field-17">123456789</span>
        <span class="textField" id="field-18">123-45-6789</span> <span class="textField" id="field-19">987-65-4321</span>

        <span class="textField" id="field-20_1">x</span> <span class="textField" id="field-20_2">x</span>
        <span class="textField" id="field-20_3">x</span> <span class="textField" id="field-20_4">x</span>
        <span class="textField" id="field-20_5">x</span> <span class="textField" id="field-20_6">x</span>
        <span class="textField" id="field-20_7">x</span> <span class="textField" id="field-20_8">x</span>
        <span class="textField" id="field-21_1">x</span> <span class="textField" id="field-21_2">x</span>
        <span class="textField" id="field-21_3">x</span> <span class="textField" id="field-21_4">x</span>
        <span class="textField" id="field-21_5">x</span> <span class="textField" id="field-21_6">Brazil</span>
        <span class="textField" id="field-22_1">x</span> <span class="textField" id="field-22_2">x</span>
        <span class="textField" id="field-22_3">x</span> <span class="textField" id="field-22_4">Potawatomi</span>
        <span class="textField" id="field-22_5">x</span> <span class="textField" id="field-22_6">x</span>
        <span class="textField" id="field-22_7">x</span> <span class="textField" id="field-22_8">x</span>
        <span class="textField" id="field-22_9">x</span> <span class="textField" id="field-22_10">x</span>
        <span class="textField" id="field-22_11">x</span> <span class="textField" id="field-22_12">Laotian</span>
        <span class="textField" id="field-22_13">x</span> <span class="textField" id="field-22_14">x</span>
        <span class="textField" id="field-22_15">x</span> <span class="textField" id="field-22_16">x</span>
        <span class="textField" id="field-22_17">Guam</span> <span class="textField" id="field-22_18">x</span>
        <span class="textField" id="field-22_19">Israeli</span> <span class="textField" id="field-23_1">x</span>
        <span class="textField" id="field-23_2">x</span> <span class="textField" id="field-23_3">x</span>
        <span class="textField" id="field-23_4">x</span> <span class="textField" id="field-23_5">x</span>
        <span class="textField" id="field-23_6">x</span> <span class="textField" id="field-23_7">x</span>
        <span class="textField" id="field-23_8">x</span> <span class="textField" id="field-24_1">x</span>
        <span class="textField" id="field-24_2">x</span> <span class="textField" id="field-24_3">x</span>
        <span class="textField" id="field-24_4">x</span> <span class="textField" id="field-24_5">x</span>
        <span class="textField" id="field-24_6">Columbian</span> <span class="textField" id="field-25_1">x</span>
        <span class="textField" id="field-25_2">x</span> <span class="textField" id="field-25_3">x</span>

        <span class="textField" id="field-25_4">Potawatomi</span> <span class="textField" id="field-25_5">x</span>
        <span class="textField" id="field-25_6">x</span> <span class="textField" id="field-25_7">x</span>
        <span class="textField" id="field-25_8">x</span> <span class="textField" id="field-25_9">x</span>
        <span class="textField" id="field-25_10">x</span> <span class="textField" id="field-25_11">x</span>
        <span class="textField" id="field-25_12">Laotian</span> <span class="textField" id="field-25_13">x</span>
        <span class="textField" id="field-25_14">x</span> <span class="textField" id="field-25_15">x</span>
        <span class="textField" id="field-25_16">x</span> <span class="textField" id="field-25_17">Guam</span>
        <span class="textField" id="field-25_18">x</span> <span class="textField" id="field-25_19">Israeli</span>
        <span class="textField" id="field-26_1">x</span> <span class="textField" id="field-26_2">x</span>
        <span class="textField" id="field-26_3">x</span> <span class="textField" id="field-26_4">x</span>
        <span class="textField" id="field-26_5">x</span> <span class="textField" id="field-26_6">x</span>
        <span class="textField" id="field-26_7">x</span> <span class="textField" id="field-26_8">Ambulance</span>
        <span class="textField" id="field-27_1">Ashley Johnson</span> <span class="textField" id="field-27_2">123456789</span>
        <span class="textField" id="field-27_3">x</span> <span class="textField" id="field-27_4">x</span>
        <span class="textField" id="field-27_5">x</span> <span class="textField" id="field-27_6">x</span>
        <span class="textField" id="field-27_7">x</span> <span class="textField" id="field-27_8">Nurse</span>
        <span class="textField" id="field-28_1">x</span> <span class="textField" id="field-28_2">x</span>
        <span class="textField" id="field-28_3">Children's Hospital</span>

    </div>
    <div id="pageBreak"></div>
    <div id="brPage2">
        <span class="textField" id="field-29a_1">MM</span> <span class="textField" id="field-29a_2">DD</span>
        <span class="textField" id="field-29a_3">YYYY</span> <span class="textField" id="field-29a_4">x</span>
        <span class="textField" id="field-29b_1">MM</span> <span class="textField" id="field-29b_2">DD</span>
        <span class="textField" id="field-29b_3">YYYY</span> <span class="textField" id="field-30">None</span>
        <span class="textField" id="field-31">66</span> <span class="textField" id="field-32">130</span>
        <span class="textField" id="field-33">120</span> <span class="textField" id="field-34_1">x</span>
        <span class="textField" id="field-34_2">x</span> <span class="textField" id="field-35">1</span>
        <span class="textField" id="field-35a_1">1</span>   <span class="textField" id="field-35a_2">x</span>
        <span class="textField" id="field-35b_1">0</span> <span class="textField" id="field-35b_2">x</span>
        <span class="textField" id="field-35c_1">MM</span> <span class="textField" id="field-35c_2">YYYY</span>
        <span class="textField" id="field-36">2</span> <span class="textField" id="field-36a_1">1</span>
        <span class="textField" id="field-36a_2">x</span> <span class="textField" id="field-36b_1">MM</span>
        <span class="textField" id="field-36b_2">YYYY</span> <span class="textField" id="field-37_1">2</span>
        <span class="textField" id="field-37_2">2</span> <span class="textField" id="field-37_3">2</span>
        <span class="textField" id="field-37_4">2</span> <span class="textField" id="field-37_5">2</span>
        <span class="textField" id="field-37_6">2</span> <span class="textField" id="field-37_7">2</span>
        <span class="textField" id="field-37_8">2</span> <span class="textField" id="field-38_1">x</span>
        <span class="textField" id="field-38_2">x</span> <span class="textField" id="field-38_3">x</span>
        <span class="textField" id="field-38_4">x</span> <span class="textField" id="field-38_5">Specify</span>
        <span class="textField" id="field-39_1">MM</span> <span class="textField" id="field-39_2">DD</span>
        <span class="textField" id="field-39_3">YYYY</span> <span class="textField" id="field-40">1234567890</span>
        <span class="textField" id="field-41_1">x</span> <span class="textField" id="field-41_2">x</span>
        <span class="textField" id="field-41_3">x</span> <span class="textField" id="field-41_4">x</span>
        <span class="textField" id="field-41_5">x</span> <span class="textField" id="field-41_6">x</span>
        <span class="textField" id="field-41_7">x</span> <span class="textField" id="field-41_8">x</span>

        <span class="textField" id="field-41_9">x</span> <span class="textField" id="field-41_10">x</span>
        <span class="textField" id="field-41_11">x</span> <span class="textField" id="field-41_12">1</span>
        <span class="textField" id="field-41_13">x</span> <span class="textField" id="field-42_1">x</span>
        <span class="textField" id="field-42_2">x</span> <span class="textField" id="field-42_3">x</span>
        <span class="textField" id="field-42_4">x</span> <span class="textField" id="field-42_5">x</span>
        <span class="textField" id="field-42_6">x</span> <span class="textField" id="field-43_1">x</span>
        <span class="textField" id="field-43_2">x</span> <span class="textField" id="field-43_3">x</span>
        <span class="textField" id="field-43_4">x</span> <span class="textField" id="field-43_5">x</span>
        <span class="textField" id="field-44_1">x</span> <span class="textField" id="field-44_2">x</span>
        <span class="textField" id="field-44_3">x</span> <span class="textField" id="field-44_4">x</span>
        <span class="textField" id="field-45_1">x</span> <span class="textField" id="field-45_2">x</span>
        <span class="textField" id="field-45_3">x</span> <span class="textField" id="field-45_4">x</span>
        <span class="textField" id="field-45_5">x</span> <span class="textField" id="field-45_6">x</span>
        <span class="textField" id="field-45_7">x</span> <span class="textField" id="field-45_8">x</span>
        <span class="textField" id="field-45_9">x</span> <span class="textField" id="field-45_10">x</span>
        <span class="textField" id="field-46_1">x</span> <span class="textField" id="field-46_2">x</span>
        <span class="textField" id="field-46_3">x</span> <span class="textField" id="field-46_4">x</span>
        <span class="textField" id="field-46_5">x</span> <span class="textField" id="field-46_6">x</span>
        <span class="textField" id="field-46_7">x</span> <span class="textField" id="field-46_8">x</span>
        <span class="textField" id="field-46_9">x</span> <span class="textField" id="field-46_10">x</span>
        <span class="textField" id="field-46_11">x</span> <span class="textField" id="field-46_12">x</span>
        <span class="textField" id="field-46_13">x</span> <span class="textField" id="field-47_1">x</span>
        <span class="textField" id="field-47-2">x</span> <span class="textField" id="field-47_3">x</span>
        <span class="textField" id="field-47_4">x</span> <span class="textField" id="field-47_5">x</span>
        <span class="textField" id="field-47_6">x</span> <span class="textField" id="field-47_7">x</span>

        <span class="textField" id="field-48">1234567890</span> <span class="textField" id="field-49_1">6</span>
        <span class="textField" id="field-49_2">x</span> <span class="textField" id="field-49_3">x</span>
        <span class="textField" id="field-50">36</span> <span class="textField" id="field-51_1">5</span>
        <span class="textField" id="field-51_2">12</span> <span class="textField" id="field-52">Twin</span>
        <span class="textField" id="field-53">Second</span> <span class="textField" id="field-54_1">x</span>
        <span class="textField" id="field-54_2">x</span> <span class="textField" id="field-54_3">x</span>
        <span class="textField" id="field-54_4">x</span> <span class="textField" id="field-54_5">x</span>
        <span class="textField" id="field-54_6">x</span> <span class="textField" id="field-54_7">x</span>
        <span class="textField" id="field-54_8">x</span> <span class="textField" id="field-55_1">x</span>
        <span class="textField" id="field-55_2">x</span> <span class="textField" id="field-55_3">x</span>
        <span class="textField" id="field-55_4">x</span> <span class="textField" id="field-55_5">x</span>
        <span class="textField" id="field-55_6">x</span> <span class="textField" id="field-55_7">x</span>
        <span class="textField" id="field-55_8">x</span> <span class="textField" id="field-55_9">x</span>
        <span class="textField" id="field-55_10">x</span> <span class="textField" id="field-55_11">x</span>
        <span class="textField" id="field-55_12">x</span> <span class="textField" id="field-55_13">x</span>
        <span class="textField" id="field-55_14">x</span> <span class="textField" id="field-55_15">x</span>
        <span class="textField" id="field-55_16">x</span> <span class="textField" id="field-55_17">x</span>
        <span class="textField" id="field-56_1">x</span> <span class="textField" id="field-56_2">x</span>
        <span class="textField" id="field-56_3">Children's Hospital</span> <span class="textField" id="field-57_1">x</span>
        <span class="textField" id="field-57_2">x</span> <span class="textField" id="field-57_3">x</span>
        <span class="textField" id="field-58_1">x</span> <span class="textField" id="field-58_2">x</span>

    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="~/Scripts/formPDF.js"></script>
</body>
</html>
